= form_for @user, html: { class: 'form-inline', role: 'form' } do |f|
  .form-group
    = f.text_field :username, class: 'form-control', placeholder: 'Enter HackerNews username'
  = f.submit 'Follow', class: 'btn btn-primary'
